.hero2 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0px;
  flex-direction: raw ;
  /* flex-wrap: wrap; Allow elements to wrap to the next line */
}

a{
  cursor: default ;
}

.hero2left {
  /* background-color: rgba(255, 0, 0, 0.212); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px 0;
  width: 50%;
}

.hero2left .hero2one{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: raw;
  gap: 0px 20px;
}


.hero2left .skill {
  background: #d2753040;
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid #ffffff2e;
  font-family: "Playwrite DE Grund", cursive;
  padding: 17px;
}

.hero2left .skill .skillscroller {
  padding-bottom: 100px;
  height: 50px;
  width: 300px;
}

.container {
  width: 100%;
  height: 2.5rem;
  font-family: Montserrat;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
}

.container .scroll {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  white-space: nowrap;
  animation: loop 35s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll img {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: .9rem;
  margin: 0rem .7rem;
  border-radius: 0.4rem;
  white-space: nowrap;
  box-shadow:
    0 0.1rem 0.2rem #00000033,
    0 0.1rem 0.5rem #0000004d,
    0 0.2rem 01.5rem #00000066,
}

#container .scroll .scroll-two {
  transform: translateX(100%);
  animation-delay: 0.1s;
}

@keyframes loop {
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.hero2left .skill h6 {
  font-weight: 100;
}



.hero2left .leetcode{
  scale: 0.9;
}


























.hero2right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 43%; /* Adjust width as needed */
}


.hero2right .github{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px 0;
}



.hero2right .gitsnack{
  width: 500px;
  
  background: #d2753040;
  /* box-shadow: 0 8px 32px 0 rgba(108, 109, 124, 0.37); */
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid #ffffff2e;
  font-family: "Playwrite DE Grund", cursive;
}

.resume{
  background: #d2753040;
  /* box-shadow: 0 8px 32px 0 rgba(108, 109, 124, 0.37); */
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid #ffffff2e;
  font-family: "Playwrite DE Grund", cursive;
  padding: 17px;
}

.resume a {
  text-decoration: none;
  color: #d27530;
  transition: ease-in-out .2s;
  font-size: xx-large;
}

.resume a:hover {
  color: #d2753040;
}


.resume div{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}
.resume div h3{
  padding-right: 100px;
}

@media screen and (max-width: 768px) {
  .hero2 {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    gap: 20px;
    min-height: 200%;
    /* z-index: 999; */
  }

  .hero2left {
    z-index: 99;
  }

  .hero2left,
  .hero2right {
    width: 100%; /* Make elements full width */
    flex-direction: coloumn;
    align-items: center;
  }
  
  .hero2left .hero2one{
    flex-direction: column;
    gap: 10px;
  }
  
  .hero2right .github{
    /* display: none; */
    scale: 0.7;
    margin-top: -60px;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .hero2right .github2{
    width: 100%;
    display: none;
  }

  .hero2left .gitsnack{ 
    width: 100%;
  }

  .hero2left .skill .skillscroller {
    padding-bottom: 10px;
  }

  .hero2left .leetcode{
    margin: -60px;
    scale: 0.62;
  }

}