.hero2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero2left {
    /* background-color: rgba(255, 0, 0, 0.212);     */
    height: 100vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skill {
    background: rgba(0, 0, 0, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 20px;
    /* width: 30%; */
    height: 400px; /* adjust the height according to your needs */
  }
  
  .imgcarosual {
    width: 100%;
    height: 70%; /* adjust the height according to your needs */
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
  }
  
  .carousel-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .carousel-item img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .carousel-item.active {
    transform: scale(1.1);
    transition:

.leetcode {
    height: 20%;
    width: 30%;
}




.hero2right {
    /* background-color: rgba(0, 26, 255, 0.212); */
    height: 100vh;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resume {
    height: 20%;
    width: 30%;
}


.github {
    height: 20%;
    width: 100%;
}

.github img {
    width: 80%;
    background-color: black;
    border-radius: 10px;
}